* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans2";
}
:root {
  --main-color: #2e1f26;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  color: var(--main-color);
}
@font-face {
  font-family: "DM Sans2";
  src: url("../fonts/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans3";
  src: url("../fonts/DMSans-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

h1,
.btn_page,
h2 {
  font-family: "DM Sans";
}
p {
  font-family: "DM Sans3";
}
:root {
  --main_color: #7313fc;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(82deg, #7313fc, #2c8bff);
  border-radius: 30px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}

.btn_page {
  max-width: 233px;

  width: 100%;
  background: var(--main-color);
  border-radius: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-size: 16px;
  line-height: 21px;

  color: #ffffff;
  transition: 0.3s;
}
.btn_page:hover {
  background: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 0px 0px 5px #2e1f2685;
}
.head_title {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 46px;
  font-family: "DM Sans";
}
/*carousel*/
.carousel {
}
.carousel .carousel-inner {
}
.carousel .carousel-inner .carousel-item {
  position: relative;
  color: #ffffff;
}
.carousel .carousel-inner .carousel-item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);

  z-index: 1;
}
.carousel .carousel-inner .carousel-item h1 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 24px;
}
.carousel .carousel-inner .carousel-item h2 {
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 30px;
}
.carousel .carousel-inner .carousel-item a {
  height: 52px;
}
.carousel .carousel-inner .carousel-item img {
  height: 624px;
  max-width: 1440px;
  margin: auto;
}
.carousel-item {
  float: right;
  width: 100%;
  margin-left: -100%;
  margin-right: 0%;
}
.home_xl {
  display: none;
}
.carousel-caption {
  max-width: 452px;
  width: 100%;

  left: 50%;

  height: fit-content;

  color: #fff;
  text-align: center;
  top: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  border: 1px solid white;
  background-color: transparent;
  transition: 0.3s;
}
.carousel-indicators {
  gap: 12px;
  align-items: center;
}
@media (min-width: 1400px) {
  .carousel .carousel-inner .carousel-item .home_l {
    display: none !important;
  }
  .carousel .carousel-inner .carousel-item .home_xl {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 860px;
  }
}
/*====================================content ===================*/
/*another*/
.another {
  margin: 100px auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.another {
}
.another img {
  max-width: 100%;
}
.another .another_div {
  position: relative;
}
.another .btn_another {
  height: 52px;
  background-color: white;
  color: var(--main-color);
}
.another .another_div a {
  position: absolute;
  z-index: 2;
  bottom: 82px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 233px;
}
/*New collection*/
.collection {
  margin-bottom: 100px;
}
.collection h2 {
}
.collection .cards {
  align-items: center;
  gap: 64px 30px;
  justify-content: space-between;
  margin-bottom: 64px;
}
.collection .cards .card {
  text-align: center;
  max-width: 252px;
  flex-grow: 1;
  position: relative;
  justify-content: center;
  border: none;
}
.collection .cards .card .fav {
  position: absolute;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 0px;
  z-index: 50;
  background: #eeeeee;
}

.collection .cards .card .fav .love,
.collection .cards .card .fav:hover .nolove {
  display: none;
}
.collection .cards .card .fav:hover .love {
  display: block;
}
html[dir="rtl"] .collection .cards .card .fav {
  left: -20px;
}
html[dir="ltr"] .collection .cards .card .fav {
  right: -20px;
}
.collection .cards .card .img_card {
  width: 214px;
  height: 114px;
  object-fit: contain;
  margin: 0px auto 14px;
  max-width: 100%;
}
.collection .cards .card h3 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}
.collection .cards .card p , .salary p{
  font-size: 16px;
  line-height: 21px;
  font-family: "DM Sans";
  margin-bottom: 8px;
}
.collection .cards .card p span ,.salary p span{
  font-family: "DM Sans3";
  font-size: 14px;
}
.collection .cards .card a {
}
.btn_card {
  max-width: 204px;
  width: 100%;
  height: 32px;
  background-color: white;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  font-size: 14px;
  line-height: 18px;

  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
@media (max-width: 992px) {
  .collection .cards {
    justify-content: center;

    gap: 64px 0px;
  }
  .collection .cards .card {
    max-width: 230px;
  }
}
/*collection2*/
.collection2 .cards {
  justify-content: flex-start;
}
/*end img*/
.end_img {
  margin-bottom: 100px;
}
.end_img img {
  width: 100%;
  max-width: 1142px;
  margin: auto;
  display: block;
}
/*============================footer =====================*/
footer {
  padding: 32px 0px;
  background: var(--main-color);
  color: white;
}
footer .footer_about {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
footer .container .logo {
}
footer .container .logo img {
}
footer .container .part2 {
  width: 370px;
}
footer .container h2 {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 4px;
}
footer .container p {
  font-size: 14px;
  line-height: 18px;
  color: #d9d9d9;
}
footer .container .part2 form {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .container .part2 form input[type="email"] {
  width: 250px;

  padding: 8px 16px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  background: #ffffff;
  border-radius: 10px;
  height: 36px;
}
footer .container .part2 form input[type="email"]::placeholder {
  color: #a5a4a4;
}
footer .container .part2 form input[type="submit"] {
  background-color: transparent;
  border-radius: 10px;
  max-width: 108px;
  width: 100%;
  height: 36px;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid white;
}
footer .container .part3 {
}
footer .container .part3 .app {
  margin-bottom: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
}
footer .container .part3 .app img {
}
footer .container .part3 .app .about_app {
}

footer .container .part3 .img_app {
  display: flex;
  gap: 16px;
}
footer .container .part3 .img_app a {
  width: 100%;
}
footer .container .part3 .img_app a img {
  max-width: 100%;
}
footer .copy {
  display: flex;
  gap: 160px;
  align-items: flex-end;
}
footer .copy p {
}
footer .copy p a {
  font-family: "DM Sans3";
  text-decoration: underline;
  color: white;
}
footer .copy .links {
  text-align: center;
  width: fit-content;
}
footer .copy .links h4 {
  font-size: 16px;
  line-height: 21px;
}
footer .copy .links .social {
  display: flex;
  gap: 10px;
}
footer .copy .links .social img {
}
@media (max-width: 992px) {
  footer .copy {
    flex-direction: column-reverse;
    gap: 26px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  footer .container .part2 form {
    align-items: flex-start;

    flex-direction: column;
    margin: 10px auto;
  }
}
/*==============================new collection ======================*/
.new_collection {
}
.new_collection nav {
}
 nav .breadcrumb-item a,
 nav .breadcrumb-item {
  font-size: 14px;
  line-height: 18px;
  color: #747474;
}
.breadcrumb {
  margin-bottom: 30px;
}
.new_collection .quick {
  margin-bottom: 36px;
}
.new_collection .quick h3 {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 12px;
}
.new_collection .quick .btn_filter {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.new_collection .quick .btn_filter button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  background: #f4f4f4;
  border: none;
  border-radius: 5px;
  width: fit-content;
}
.new_collection .quick .btn_filter button.selelect {
  outline: 1px solid #2e1f26;
}
.new_collection .quick .btn_filter button img {
}
.new_collection .quick .btn_filter button p {
  font-size: 14px;
  line-height: 18px;
}
.new_collection .filter {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 20px;
}
.new_collection .filter .btn_filter {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.new_collection .filter p {
  font-size: 16px;
  line-height: 21px;
}
.new_collection .filter p span {
  padding: 0px 8px;
}
.new_collection .selected_filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.new_collection .selected_filter .get_filter {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.btn-close {
  width: 10px;
  transform: scale(0.7);
}
.btn-close:focus {
  outline: 0;
  box-shadow: none;
  opacity: 1;
}

.new_collection .selected_filter .get_filter .item {
  display: flex;
  align-items: center;
  width: fit-content;
  background: #f4f4f4;
  border-radius: 5px;
  gap: 10px;
  padding: 10px;
}
.new_collection .selected_filter .clear {
  background-color: transparent;
  border: none;
  padding: 0px 10px;
  font-size: 14px;
  line-height: 18px;

  color: var(--main-color);
}
.new_collection .all {
  display: flex;
  gap: 30px;
}
.new_collection .all .fil {
  transition: 0.5s;
  width: 270px;
  min-width: 270px;
  height: fit-content;
  background: #fafafa;
  border-radius: 10px;
  padding: 6px 8px 18px;
}
.new_collection .all .fil.hide {
  opacity: 0;
  width: 0;
  min-width: 0;
  height: 0;
}
.new_collection .collection {
  margin-top: 40px;
}
 .accordion-button::after {
  background-image: url("../images/according-top.png");

  width: 12px;
  height: 8px;

  background-size: 100%;
}
html[dir="rtl"]  .accordion-button::after {
  margin-left: 0;
}
html[dir="ltr"]  .accordion-button::after {
  margin-right: 0;
}
.new_collection .accordion-item {
  background-color: transparent;
  border: 1px solid #ecebeb;
  border-right: 0;
  border-left: 0;
}
 .accordion-button {
  background-color: transparent;
  padding: 1rem 0rem;
}
.accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: var(--main-color);
  background-color: transparent;
}
.form-check-input[type="checkbox"] {
  border-radius: 0;
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.form-check-input:checked {
  background-color: var(--main-color);
  border-color: transparent;
}
.form-check-input:focus {
  border-color: transparent;

  box-shadow: 0px 0px 2px 2px #2e1f2624;
}
.form-check-input:active {
  filter: brightness(100%);
}
.new_collection .accordion-item label {
  font-size: 14px;
  line-height: 18px;
}
 .accordion-body {
  padding: 1rem 0rem;
}
.new_collection .value_range{
  display: flex;
  gap: 50px;
  align-items: center;
margin-top: 14px;
}
.new_collection .value_range p {
  font-size: 12px;
  line-height: 16px;
  padding: 0px 8px;
  margin-bottom: 2px;
}
.new_collection .value_range .value{
  width: 96px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
}
.new_collection .value_range .value span{
display: block;
height: 90%;
width: 1px;
background-color: #FAFAFA;
}
.new_collection .value_range .value input{
  width: 60px;
  height: 100%;
border: none;
background: transparent;
}
.new_collection .value_range .value p{
  font-size: 10px;
  line-height: 13px;
  padding: 0;
  margin: 0;
}
@media (max-width: 992px) {
  .new_collection .all {
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  .new_collection .filter {
    gap: 30px;
  }
}
/*========================================range=======================*/
.middle {
	position: relative;
	width: 100%;
	max-width: 500px;
}

.slider {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 15px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #2e1f2661;
  height: 8px;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: var(--main-color);
  height: 8px;
}
.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 18px;
  height: 18px;
  background-color: var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgb(98 0 238 / 10%);
  transition: box-shadow .3s ease-in-out;
  border: 3px white solid;
}
.slider > .thumb.left {
	left: 25%;
  transform: translate(-12px, -6px);
}
.slider > .thumb.right {
	right: 25%;
	transform: translate(12px, -6px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 5px #2e1f2649;
  
}
.slider > .thumb.active {
	box-shadow: 0 0 0 5px rgba(65, 3, 151, 0.2);
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}

/*==============================product======================*/
.product{

}
.product .curunt_product {
  margin: 50px auto 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.product .curunt_product .images_product {
  width: fit-content;
}
.product .curunt_product .images_product .big_img {
  width: 400px;
  object-fit: contain;
  max-width: 100%;
}
.product .curunt_product .images_product .sm_img{
  gap: 10px;
  place-content: center;
}
.product .curunt_product .images_product .sm_img img{
  max-width: 122px;
  object-fit: contain;
}
.product .curunt_product .about_product{
  position: relative;
  flex-grow: 1;
}
.product .curunt_product .about_product .love_product{
position: absolute;
top: 0;
right: 0  ;
}
.product .curunt_product .about_product h2{
  font-size: 26px;
line-height: 34px;
margin-bottom: 16px;
max-width: 460px;
}
.product .curunt_product .about_product .salary{
  
  display: flex;
  align-items: center;
  gap: 8px;
}
.product .curunt_product .about_product .salary p{
  
}
.product .curunt_product .about_product .salary p span{
  
}
.product .curunt_product .about_product h3{
  font-size: 16px;
line-height: 21px;
}
.product .curunt_product .about_product ul {
  list-style: disc;
} 
.product .curunt_product .about_product ul li{
  font-size: 16px;
line-height: 25px;
}
 .counts {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}
 .counts input[type="button"] {
  background: transparent;
  border: none;
}

 .counts .count{
  
}
 .counts .count p{
  font-size: 16px;
line-height: 21px;
}
 .counts .count p span{
  font-family: "DM Sans";
  font-size: 16px;
line-height: 21px;
}
.product .curunt_product .about_product button {
  margin: 36px 0px 0px;
  height: 40px;
  min-width: 234px;
}
@media(max-width:992px){
  .product .curunt_product .about_product {
    width: 100%;
}
}
/*==============================cart ======================*/
.cart{

}
.cart .no_product{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  margin: 80px auto 110px;
}
.cart .no_product img{
  max-width: 90%;
}
.cart .no_product h2{
  font-size: 20px;
  line-height: 26px;
}
.cart .no_product p{
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 36px;
}
.cart .no_product a{

}
.cart .yes_product{
  margin: 74px auto 120px;
}
.cart .yes_product h2{
  
}
.cart .yes_product h2 span{
  font-size: 20px;
line-height: 26px;
}
.cart .yes_product .cart_about {
  display: flex;
  gap: 28px;
  
}
.cart .yes_product .cart_about .cart_products {
  flex-grow: 1;
  border: 1px solid #D9D9D9;
  height: fit-content;
}
.cart .yes_product .cart_about .cart_products .item {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px;
}
.cart .yes_product .cart_about .cart_products .item:not(:first-of-type) {
  border-top: 1px dashed rgba(92, 92, 92, 0.733);
}
.cart .yes_product .cart_about .cart_products .item .form-check-input {
  min-width: 20px;
  height: 20px;
}
.cart .yes_product .cart_about .cart_products .item .item_img{
 width: 142px;
 object-fit: contain;
}
.cart .yes_product .cart_about .cart_products .item .about_item {
  flex-grow: 1;
}
.cart .yes_product .cart_about .cart_products .item .about_item h2 {
  font-size: 12px;
  line-height: 16px;
  /* color: #5C5959; */
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 8px;
  font-family: 'DM Sans3';
}
.cart .yes_product .cart_about .cart_products .item .about_item h3{
 margin-bottom: 22px;
 font-size: 12px;
line-height: 16px;
}
.cart .yes_product .cart_about .cart_products .item .about_item .end_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.cart .yes_product .cart_about .cart_products .item .about_item .end_item .part1{
 display: flex;
 align-items: center;
gap: 20px;
flex-wrap: wrap;
}
.cart .yes_product .cart_about .cart_products .item .about_item .end_item button{
 display: flex;
 align-items: center;
 background-color: transparent;
 border: none;
 gap: 6px;
 width: fit-content;
}
.cart .yes_product .cart_about .cart_products .item .about_item .end_item button p{
  font-size: 12px;
  line-height: 16px;
  color: #5C5959;
}
.cart .yes_product .cart_about .cart_products .item .about_item .end_item .counts{
margin: 0;
}
.cart .yes_product .cart_about .cart_products .item .about_item .end_item .date{
  font-size: 12px;
  line-height: 16px;
  color: #5C5959;
}
.cart .yes_product .cart_about .cart_price {
  width: 378px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cart .yes_product .cart_about .cart_price .complet_order{
  border: 1px solid #D9D9D9;
  padding: 22px 22px 30px;
}
.cart .yes_product .cart_about .cart_price .complet_order ul{
padding: 0;
margin-bottom: 26px;
}
.cart .yes_product .cart_about .cart_price .complet_order ul li{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-bottom: 4px;
 font-size: 14px;
line-height: 18px;
  }
  .cart .yes_product .cart_about .cart_price .complet_order ul li:first-of-type{
    border-bottom:  1px solid #F4F4F4;
    margin-bottom: 10px;
  }
  .cart .yes_product .cart_about .cart_price .complet_order ul li h4{
    font-size: 14px;
    line-height: 18px;
  }
  .cart .yes_product .cart_about .cart_price .complet_order ul li h5{
    font-size: 14px;
line-height: 18px;
  }
  .cart .yes_product .cart_about .cart_price .complet_order ul  li:first-of-type h4{
    font-size: 16px;
    line-height: 21px;
  }
  .cart .yes_product .cart_about .cart_price .complet_order ul li:first-of-type h5{
    font-size: 16px;
line-height: 21px;
font-family: "DM Sans";
  }
.cart .yes_product .cart_about .cart_price .discount{
  border: 1px solid #D9D9D9;
  padding: 22px 24px;
}
.cart .yes_product .cart_about .cart_price .discount input[type="text"]{
 max-width: 324px;
 width: 100%;
 height: 40px;
  background: #FAF8F8;
  border-radius: 10px;
  border: none;
  outline: none;
 margin-bottom: 24px;
  padding: 10px;
}
.cart .yes_product .cart_about .cart_price .discount input[type="button"]{
  
}
.cart .yes_product .cart_about .cart_price .discount .code_done{
display: flex;
align-items: center;
justify-content: space-between;
}
.cart .yes_product .cart_about .cart_price .discount .code_done p{
  font-size: 16px;
  line-height: 21px;
  color: #157E0C;
}
.cart .yes_product .cart_about .cart_price .discount .code_done button{
  font-size: 16px;
  line-height: 21px;
background-color: transparent;
border: none;
  color: #DA300A;
}
@media(max-width:992px){
  .cart .yes_product .cart_about {
   
    flex-wrap: wrap;
}
.cart .yes_product .cart_about .cart_price {
  min-width: 100%;
  flex-grow: 1;
}
}
@media(max-width:470px){
  .cart .yes_product .cart_about .cart_products .item{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
