* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans2";
}
:root {
  --main-color: #2e1f26;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  color: var(--main-color);
}
@font-face {
  font-family: "DM Sans2";
  src: url("../fonts/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans3";
  src: url("../fonts/DMSans-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

h1,
.btn_page,
h2 {
  font-family: "DM Sans";
}
p {
  font-family: "DM Sans3";
}
:root {
  --main_color: #7313fc;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 30px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}

.btn_page {
  max-width: 233px;

  width: 100%;
  background: var(--main-color);
  border-radius: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-size: 16px;
  line-height: 21px;

  color: #ffffff;
  transition: 0.3s;
}
.btn_page:hover {
  background: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 0px 0px 5px #2e1f2685;
}
.head_title {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 46px;
  font-family: "DM Sans";
}

/*==========================nav ======================*/
/*start navbar*/
/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
}
.index_nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent !important;
  transition: 0.3s;
}
.index_nav:hover{
  background-color: var(--main-color) !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: white;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: white;
}
.navbar-collapse {
  flex-grow: 0.5;
}

/*===========nav neo=============*/
.navbar  {
  flex-direction: column;
  background: #2e1f26;
  gap: 30px;
  margin-bottom: 28px;
}

.menue_loc {
  display: flex;
  align-items: center;
  gap: 14px;
  flex: 0.5;
}
.menue_loc .location {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menue_loc .location  .dropdown-menu a{
color: black;
}
.menue_loc .location .dropdown-toggle::after{
  display: none;
}
.menue_loc .loc {
  display: flex;
  align-items: center;
  gap: 8px;
}
.right_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.right_nav input {
  width: 278px;
  height: 50px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  padding: 16px 44px;
}
.right_nav input::placeholder {
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #868686;
}
.right_nav form {
  position: relative;
  margin: auto;
}
.right_nav form::before {
  content: "";
  height: 17px;
  width: 17px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  background-size: 17px;
  background-repeat: no-repeat;
  background-image: url("../images/search.svg");
  z-index: 50;
}
.ac_nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.ac_nav h4 {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  color: white;
  font-family: "DM Sans3";

  cursor: pointer;
}
.ac_nav .dropdown-toggle::after {
  display: none;
}
.ac_nav .dropdown li {
  border-bottom: 1px #d9d9d9 solid;
  padding: 6px 0px;
}
.ac_nav .dropdown li a {
  color: black !important;
  padding: 4px 8px;
}
.phone_nav {
  display: none;
}
.navbar-collapse {
  padding: 0px 40px;
  transition: 1s;
  align-self: start;
  margin: auto;
}
nav .nav-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.nav-link:hover,
.nav-link:focus {
  color: #ffffff;
}
.col-phone {
  display: none;
}
.col-dec .dropdown-menu.show {
  display: flex;
  gap: 40px;
  min-width: 670px;
}
.ul_all {
  display: flex;
  gap: 40px;
}
.col-dec .dropdown-item {
  padding: 0.25rem 0rem;
}
.col-dec .dropdown-menu {
  padding: 20px 28px;
}
.col-dec .dropdown-menu h5 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
}
nav .dropdown-menu a {
  font-size: 12px;
  line-height: 16px;
  color: #5c5959;
}
.col-dec .dropdown-menu.show ul {
  padding: 0;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (max-width: 992px) {
  .ac_nav,
  .col-dec {
    display: none;
  }
  .col-phone {
    display: block;
    min-width: 100%;
  }
  .col-phone ul {
    padding: 0;
  }
  .menue_loc {
    flex: none;
  }
  .menue_loc .loc {
    display: none;
  }
  .phone_nav {
    display: flex;
  }
  .right_nav {
    min-width: 100%;
    margin-top: 10px;
  }
  .right_nav input {
    margin: auto;
    max-width: 100%;
    position: relative;
    padding: 14px 44px;
  }

  .right_nav h4 {
    display: none;
  }
}
@media (max-width: 500px) {
  .ac_nav {
    gap: 10px;
  }
  .ac_nav h4 {
    font-size: 14px;
  }
  .menue_loc {
    gap: 2px;
  }
  .toggler-icon {
    width: 26px;
    height: 2px;
  }
  .right_nav input {
    height: 40px;
  }
  .navbar-brand {
    margin: auto;
  }
  .navbar-brand img {
    max-width: 50px;
  }
  .lang p {
    font-size: 12px !important;
  }
}
/*end navbar*/

/*===========================================end nav ==================*/
/*carousel*/
.carousel {
}
.carousel .carousel-inner {
}
.carousel .carousel-inner .carousel-item {
  position: relative;
  color: #ffffff;
}
.carousel .carousel-inner .carousel-item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);

  z-index: 1;
}
.carousel .carousel-inner .carousel-item h1 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 24px;
}
.carousel .carousel-inner .carousel-item h2 {
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 30px;
}
.carousel .carousel-inner .carousel-item a {
  height: 52px;
}
.carousel .carousel-inner .carousel-item img {
  height: 624px;
  max-width: 1440px;
  margin: auto;
}
.carousel-item {
  float: right;
  width: 100%;
  margin-left: -100%;
  margin-right: 0%;
}
.home_xl {
  display: none;
}
.carousel-caption {
  max-width: 452px;
  width: 100%;

  left: 50%;

  height: fit-content;

  color: #fff;
  text-align: center;
  top: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  border: 1px solid white;
  background-color: transparent;
  transition: 0.3s;
}
.carousel-indicators {
  gap: 12px;
  align-items: center;
}
@media (min-width: 1400px) {
  .carousel .carousel-inner .carousel-item .home_l {
    display: none !important;
  }
  .carousel .carousel-inner .carousel-item .home_xl {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 860px;
  }
}
/*====================================content ===================*/
/*another*/
.another {
  margin: 100px auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.another {
}
.another img {
  max-width: 100%;
}
.another .another_div {
  position: relative;
}
.another .btn_another {
  height: 52px;
  background-color: white;
  color: var(--main-color);
}
.another .another_div a {
  position: absolute;
  z-index: 2;
  bottom: 82px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 233px;
  font-family: "DM Sans";
}
/*New collection*/
.collection {
  margin-bottom: 100px;
}
.collection h2 {
}
.collection .cards {
  align-items: center;
  gap: 64px 30px;
  justify-content: space-between;
  margin-bottom: 64px;
}
.collection .cards .card {
  text-align: center;
  max-width: 252px;
  flex-grow: 1;
  position: relative;
  justify-content: center;
  border: none;
}
.collection .cards .card .fav {
  position: absolute;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 0px;
  z-index: 50;
  background: #eeeeee;
  transition: 0.3s;
}
.collection .cards .card .fav .love {
  position: relative;
}
.collection .cards .card .fav .state::before {
  z-index: 50;
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 50%;
  background-image: url("../images/nolove.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.collection .cards .card .fav.active .state::before {
  background-image: url("../images/love.svg");
}
.collection .cards .card .fav.active .love {
  display: block;
}
.collection .cards .card .fav.active .nolove,
.collection .cards .card .fav .love {
  display: none;
}

html[dir="rtl"] .collection .cards .card .fav {
  left: -20px;
}
html[dir="ltr"] .collection .cards .card .fav {
  right: -20px;
}
.collection .cards .card .img_card {
  width: 214px;
  height: 114px;
  object-fit: contain;
  margin: 0px auto 14px;
  max-width: 100%;
}
.collection .cards .card h3 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}
.collection .cards .card p,
.salary p {
  font-size: 16px;
  line-height: 21px;
  font-family: "DM Sans";
  margin-bottom: 8px;
}
.collection .cards .card .sale {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.collection .cards .card .sale p:first-of-type {
  font-size: 14px;
  line-height: 18px;

  text-decoration-line: line-through;

  color: #5c5959;
}
.collection .cards .card p span,
.salary p span {
  font-family: "DM Sans3";
  font-size: 14px;
}
.collection .cards .card a {
}
.btn_card {
  max-width: 204px;
  width: 100%;
  height: 32px;
  background-color: white;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  font-size: 14px;
  line-height: 18px;

  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.btn_card.done {
  opacity: 0.5;
}
@media (max-width: 992px) {
  .collection .cards {
    justify-content: center;

    gap: 64px 0px;
  }
  .collection .cards .card {
    max-width: 230px;
  }
}
@media (max-width: 992px) {
  .another .another_div a {
    bottom: 4px;
    left: 50%;

    width: 98%;
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  html[dir="rtl"] .collection .cards .card .fav {
    left: 2px;
  }
  html[dir="ltr"] .collection .cards .card .fav {
    right: 2px;
  }
}
/*collection2*/
.collection2 .cards {
  justify-content: flex-start;
}
/*end img*/
.end_img {
  margin-bottom: 100px;
}
.end_img img {
  width: 100%;
  max-width: 1142px;
  margin: auto;
  display: block;
}
/*============================footer =====================*/
footer {
  padding: 32px 0px;
  background: var(--main-color);
  color: white;
}
footer .footer_about {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
footer .container .logo {
}
footer .container .logo img {
}
footer .container .part2 {
  width: 370px;
}
footer .container h2 {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 4px;
  font-family: "DM Sans2";
}
footer .container p {
  font-size: 14px;
  line-height: 18px;
  color: #d9d9d9;
  margin-bottom: 14px;
}
footer .container .part2 form {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .container .part2 form input[type="email"] {
  width: 250px;

  padding: 8px 16px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  background: #ffffff;
  border-radius: 10px;
  height: 36px;
}
footer .container .part2 form input[type="email"]::placeholder {
  color: #a5a4a4;
}
footer .container .part2 form input[type="submit"] {
  background-color: transparent;
  border-radius: 10px;
  max-width: 108px;
  width: 100%;
  height: 36px;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid white;
}
footer .container .part3 {
}
footer .container .part3 .app {
  margin-bottom: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
}
footer .container .part3 .app img {
}
footer .container .part3 .app .about_app {
}

footer .container .part3 .img_app {
  display: flex;
  gap: 16px;
}
footer .container .part3 .img_app a {
  width: 100%;
}
footer .container .part3 .img_app a img {
  max-width: 100%;
}
footer .copy {
  display: flex;
  gap: 160px;
  align-items: flex-end;
}
footer .copy p {
}
footer .copy p a {
 
  text-decoration: underline;
  color: white;
}
footer .copy .links {
  text-align: center;
  width: fit-content;
}
footer .copy .links h4 {
  font-size: 16px;
  line-height: 21px;
}
footer .copy .links .social {
  display: flex;
  gap: 10px;
}
footer .copy .links .social img {
}
@media (max-width: 992px) {
  footer .copy {
    flex-direction: column-reverse;
    gap: 26px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  footer .container .part2 form {
    align-items: flex-start;

    flex-direction: column;
    margin: 10px auto;
  }
}
/*==============================new collection ======================*/
.new_collection {
}
.new_collection nav {
}
nav .breadcrumb-item a,
nav .breadcrumb-item {
  font-size: 14px;
  line-height: 18px;
  color: #747474;
}
.breadcrumb {
  margin-bottom: 30px;
}
.new_collection .quick {
  margin-bottom: 36px;
}
.new_collection .quick h3 {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 12px;
}
.new_collection .quick .btn_filter {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.new_collection .quick .btn_filter button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  background: #f4f4f4;
  border: none;
  border-radius: 5px;
  width: fit-content;
}
.new_collection .quick .btn_filter button.selelect {
  outline: 1px solid #2e1f26;
}
.new_collection .quick .btn_filter button img {
}
.new_collection .quick .btn_filter button p {
  font-size: 14px;
  line-height: 18px;
}
.new_collection .filter {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 20px;
}
.new_collection .filter .btn_filter {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.new_collection .filter p {
  font-size: 16px;
  line-height: 21px;
}
.new_collection .filter p span {
  padding: 0px 8px;
}
.new_collection .selected_filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.new_collection .selected_filter .get_filter {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.btn-close {
  width: 10px;
  transform: scale(0.7);
}
.btn-close:focus {
  outline: 0;
  box-shadow: none;
  opacity: 1;
}

.new_collection .selected_filter .get_filter .item {
  display: flex;
  align-items: center;
  width: fit-content;
  background: #f4f4f4;
  border-radius: 5px;
  gap: 10px;
  padding: 10px;
}
.new_collection .selected_filter .clear {
  background-color: transparent;
  border: none;
  padding: 0px 10px;
  font-size: 14px;
  line-height: 18px;

  color: var(--main-color);
}
.new_collection .all {
  display: flex;
  gap: 30px;
}
.new_collection .all .fil {
  transition: 0.5s;
  width: 270px;
  min-width: 270px;
  height: fit-content;
  background: #fafafa;
  border-radius: 10px;
  padding: 6px 8px 18px;
}
.new_collection .all .fil.hide {
  opacity: 0;
  width: 0;
  min-width: 0;
  height: 0;
}
.new_collection .collection {
  margin-top: 40px;
}
.accordion-button::after {
  background-image: url("../images/according-top.png");

  width: 12px;
  height: 8px;

  background-size: 100%;
}
html[dir="rtl"] .accordion-button::after {
  margin-left: 0;
}
html[dir="ltr"] .accordion-button::after {
  margin-right: 0;
}
.new_collection .accordion-item {
  background-color: transparent;
  border: 1px solid #ecebeb;
  border-right: 0;
  border-left: 0;
}
.accordion-button {
  background-color: transparent;
  padding: 1rem 0rem;
}
.accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: var(--main-color);
  background-color: transparent;
}
.form-check-input[type="checkbox"] {
  border-radius: 0;
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.form-check-input:checked {
  background-color: var(--main-color);
  border-color: transparent;
}
.form-check-input:focus {
  border-color: transparent;

  box-shadow: 0px 0px 2px 2px #2e1f2624;
}
.form-check-input:active {
  filter: brightness(100%);
}
.new_collection .accordion-item label {
  font-size: 14px;
  line-height: 18px;
}
.accordion-body {
  padding: 1rem 0rem;
}
.new_collection .value_range {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 14px;
}
.new_collection .value_range p {
  font-size: 12px;
  line-height: 16px;
  padding: 0px 8px;
  margin-bottom: 2px;
}
.new_collection .value_range .value {
  width: 96px;
  height: 30px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
}
.new_collection .value_range .value span {
  display: block;
  height: 90%;
  width: 1px;
  background-color: #fafafa;
}
.new_collection .value_range .value input {
  width: 60px;
  height: 100%;
  border: none;
  background: transparent;
}
.new_collection .value_range .value p {
  font-size: 10px;
  line-height: 13px;
  padding: 0;
  margin: 0;
}
@media (max-width: 992px) {
  .new_collection .all {
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  .new_collection .filter {
    gap: 30px;
  }
}
/*========================================range=======================*/
.middle {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}
.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #2e1f2661;
  height: 8px;
}
.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: var(--main-color);
  height: 8px;
}
.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 18px;
  height: 18px;
  background-color: var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgb(98 0 238 / 10%);
  transition: box-shadow 0.3s ease-in-out;
  border: 3px white solid;
}
.slider > .thumb.left {
  left: 25%;
  transform: translate(-12px, -6px);
}
.slider > .thumb.right {
  right: 25%;
  transform: translate(12px, -6px);
}
.slider > .thumb.hover {
  box-shadow: 0 0 0 5px #2e1f2649;
}
.slider > .thumb.active {
  box-shadow: 0 0 0 5px rgba(65, 3, 151, 0.2);
}

input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}

/*==============================product======================*/
.product {
}
.product .curunt_product {
  margin: 50px auto 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.product .curunt_product .images_product {
  width: fit-content;
}
.product .curunt_product .images_product .big_img {
  width: 400px;
  object-fit: contain;
  max-width: 100%;
}
.product .curunt_product .images_product .sm_img {
  gap: 10px;
  place-content: center;
}
.product .curunt_product .images_product .sm_img img {
  max-width: 122px;
  object-fit: contain;
}
.product .curunt_product .about_product {
  position: relative;
  flex-grow: 1;
}
.product .curunt_product .about_product .love_product {
  position: absolute;
  top: 0;
  right: 0;
}
.product .curunt_product .about_product h2 {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 16px;
  max-width: 460px;
}
.product .curunt_product .about_product .salary {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product .curunt_product .about_product .salary p {
}
.product .curunt_product .about_product .salary p span {
}
.product .curunt_product .about_product h3 {
  font-size: 16px;
  line-height: 21px;
}
.product .curunt_product .about_product ul {
  list-style: disc;
}
.product .curunt_product .about_product ul li {
  font-size: 16px;
  line-height: 25px;
  font-family: "DM Sans3";
}
.counts {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}
.counts input[type="button"] {
  background: transparent;
  border: none;
}

.counts .count {
}
.counts .count p {
  font-size: 16px;
  line-height: 21px;
}
.counts .count p span {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 21px;
}
.product .curunt_product .about_product button {
  margin: 36px 0px 0px;
  height: 40px;
  min-width: 234px;
}
@media (max-width: 992px) {
  .product .curunt_product .about_product {
    width: 100%;
  }
}
/*==============================cart ======================*/
.cart {
}
.cart .no_product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  margin: 80px auto 110px;
}
.cart .no_product img {
  max-width: 90%;
}
.cart .no_product h2 {
  font-size: 20px;
  line-height: 26px;
  font-family: "DM Sans2";
}
.cart .no_product p {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 36px;
}
.cart .no_product a {
}
.cart .yes_product {
  margin: 74px auto 120px;
}
.cart .yes_product h2 {
}
.cart .yes_product h2 span {
  font-size: 20px;
  line-height: 26px;
}
.cart .cart_about {
  display: flex;
  gap: 28px;
}
.cart .cart_about .cart_products {
  flex-grow: 1;
  border: 1px solid #d9d9d9;
  height: fit-content;
}
.cart .cart_about .cart_products .item {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px;
}
.cart .cart_about .cart_products .item:not(:first-of-type) {
  border-top: 1px dashed rgba(92, 92, 92, 0.733);
}
.cart .cart_about .cart_products .item .form-check-input {
  min-width: 20px;
  height: 20px;
}
.cart .cart_about .cart_products .item .item_img {
  width: 142px;
  object-fit: contain;
}
.cart .cart_about .cart_products .item .about_item {
  flex-grow: 1;
}
.cart .cart_about .cart_products .item .about_item h2 {
  font-size: 12px;
  line-height: 16px;
  /* color: #5C5959; */
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 8px;
  font-family: "DM Sans3";
}
.cart .cart_about .cart_products .item .about_item h3 {
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 16px;
}
.cart .cart_about .cart_products .item .about_item .end_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.cart .cart_about .cart_products .item .about_item .end_item .part1 {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.cart .cart_about .cart_products .item .about_item .end_item button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  gap: 6px;
  width: fit-content;
}
.cart .cart_about .cart_products .item .about_item .end_item button p {
  font-size: 12px;
  line-height: 16px;
  color: #5c5959;
}
.cart .cart_about .cart_products .item .about_item .end_item .counts {
  margin: 0;
}
.cart .cart_about .cart_products .item .about_item .end_item .date {
  font-size: 12px;
  line-height: 16px;
  color: #5c5959;
}
.cart .cart_about .cart_price {
  width: 378px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cart .cart_about .cart_price .complet_order {
  border: 1px solid #d9d9d9;
  padding: 22px 22px 30px;
}
.cart .cart_about .cart_price .complet_order ul {
  padding: 0;
  margin-bottom: 26px;
}
.cart .cart_about .cart_price .complet_order ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 18px;
}
.cart .cart_about .cart_price .complet_order ul li:first-of-type {
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}
.cart .cart_about .cart_price .complet_order ul li h4 {
  font-size: 14px;
  line-height: 18px;
  font-family: "DM Sans3";

}
.cart .cart_about .cart_price .complet_order ul li h5 {
  font-size: 14px;
  line-height: 18px;
}
.cart .cart_about .cart_price .complet_order ul li:first-of-type h4 {
  font-size: 16px;
  line-height: 21px;
  font-family: "DM Sans3";
}
.cart .cart_about .cart_price .complet_order ul li:first-of-type h5 {
  font-size: 16px;
  line-height: 21px;
  font-family: "DM Sans";
}
.cart .cart_about .cart_price .discount {
  border: 1px solid #d9d9d9;
  padding: 22px 24px;
}
.cart .cart_about .cart_price .discount input[type="text"] {
  max-width: 324px;
  width: 100%;
  height: 40px;
  background: #faf8f8;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  margin: 0px auto 24px;
  display: block;
}
.cart .cart_about .cart_price .discount input[type="button"] {
}
.code_done {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.code_done p {
  font-size: 16px;
  line-height: 21px;
  color: #157e0c;
  font-family: "DM Sans";

}
.code_done button {
  font-size: 16px;
  line-height: 21px;
  background-color: transparent;
  border: none;
  color: #da300a;
  font-family: "DM Sans";

}
.cart .cart_about .cart_price .accordion-button {
  padding: 0;
  border: none !important;
  outline: none !important;
}
@media (max-width: 992px) {
  .cart .cart_about {
    flex-wrap: wrap;
  }
  .cart .cart_about .cart_price {
    min-width: 100%;
    flex-grow: 1;
  }
}
@media (max-width: 470px) {
  .cart .cart_about .cart_products .item {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
/*==============================delivery ======================*/
.delivery {
}
.delivery .head_title {
  margin-bottom: 26px;
}
.delivery .cart_about {
}
.delivery .cart_about .addresses {
  flex-grow: 1;
}
.delivery .cart_about .addresses .my_addresse {
  border: 1px solid #d9d9d9;
  padding: 16px 30px;
  margin-bottom: 20px;
  position: relative;
}
.delivery .cart_about .addresses .my_addresse h3 {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 26px;
  font-family: "DM Sans3";

}
 .my_addresse .info_addresse {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
 .my_addresse .info_addresse .item {
  border: 1px solid #2e1f26;
  padding: 12px 16px;
  width: 174px;
}
 .my_addresse .info_addresse .item .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
 .my_addresse .info_addresse .item .top .home {
  display: flex;
  align-items: center;
  gap: 8px;
}

  .my_addresse
  .info_addresse
  .item
  .top
  .home
  .form-check-input {
  width: 13px;
  height: 13px;
  margin: 0;
}

  .my_addresse
  .info_addresse
  .item
  .top
  .home
  h4 {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}

  .my_addresse
  .info_addresse
  .item
  .top
  .dropdown {
}

  .my_addresse
  .info_addresse
  .item
  .top
  .dropdown
  .dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4px;
  height: 100%;
  flex-direction: column;
  gap: 2px;
  background: transparent;
  border: none;
}

  .my_addresse
  .info_addresse
  .item
  .top
  .dropdown
  span {
  display: block;
  width: 3px;
  height: 3px;
  background: #2e1f26;
  border-radius: 50%;
}

  .my_addresse
  .info_addresse
  .item
  .top
  .dropdown
  .dropdown-menu {
  min-width: 68px !important;
  inset: 30px -22px auto auto !important;
}

  .my_addresse
  .info_addresse
  .item
  .top
  .dropdown
  .dropdown-menu
  span {
  display: block;
  margin: auto;
  width: 74%;
  height: 1px;
  background-color: #d9d9d9;
}

  .my_addresse
  .info_addresse
  .item
  .top
  .dropdown
  .dropdown-menu
  button {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: transparent;
  border: none;
  padding: 6px 10px;
  width: 100%;
}


  .my_addresse
  .info_addresse
  .item
  .top
  .dropdown
  .dropdown-menu
  button
  p {
  font-size: 12px;
  line-height: 16px;
  color: black;
}
 .my_addresse .info_addresse .item p {
  font-size: 14px;
  line-height: 18px;
  color: #5c5959;
}
 .my_addresse .info_addresse .add_addresse {
  width: 172px;
  height: 116px;
  background: #efefef;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
 .my_addresse .info_addresse .add_addresse p {
  font-size: 14px;
  line-height: 18px;
  font-family: "DM Sans2";

}
.delivery .cart_about .addresses .my_addresse .end_addresse {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 36px;
  background: #f4f4f4;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.delivery .cart_about .addresses .my_addresse .end_addresse p {
  font-size: 12px;
  line-height: 16px;
  color: #5c5959;
}
.delivery .cart_about .addresses .my_payment {
  border: 1px solid #d9d9d9;
  padding: 30px 16px;
}
.delivery .cart_about .addresses .my_payment .form-check {
  margin-bottom: 20px;
}
.delivery .cart_about .addresses .steps {
  display: flex;
  align-items: center;
  gap: 28px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.delivery .cart_about .addresses .steps .step {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 6px;
  width: fit-content;
  opacity: 0.5;
  background-color: transparent;
  border: none;
}
.delivery .cart_about .addresses .steps .step.active {
  opacity: 1;
  border-bottom: 1px solid #2e1f26;
}
.delivery .cart_about .addresses .steps .step span {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: var(--main-color);
  text-align: center;
  color: white;
}
.delivery .cart_about .addresses .steps .step p {
  font-size: 16px;
  line-height: 21px;
}
.delivery .cart_price {
}
.delivery .cart_price .order_summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.delivery .cart_price .order_summary h6 {
  font-size: 20px;
  line-height: 26px;
}
.delivery .cart_price .order_summary a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.delivery .cart_price .order_summary a h6 {
  font-size: 16px;
  line-height: 21px;
}
/*==============================order ======================*/
.order {
  margin: 44px auto 100px;
}
.order .persone {
  width: 164px;

  object-fit: contain;
  border-radius: 50%;
  margin: 0px auto 16px;
  display: block;
  max-width: 36%;
  height: 100%;
}
.order h2 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 12px;
  text-align: center;
}
.order .p_head {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 28px;
  text-align: center;
}
.my_order {
  border: 1px solid #d9d9d9;
  padding: 40px 30px;
}
.my_order .part1 {
  background: #f2f2f2;
  padding: 40px 44px;
  margin-bottom: 42px;
}
.my_order .part1 .line {
  display: block;
  width: 100%;
  margin: 28px auto;
  height: 1px;
  background-color: #ffffff;
}
.my_order .part1 .all_order {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.my_order .part1 .info_order {
  display: flex;
  align-items: center;

  gap: 24px 80px;
  flex-wrap: wrap;
  justify-content: center;
}
.my_order .part1 .info_order h5 {
  background: #856875;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  width: 306px;
  text-align: center;
  padding: 16px 6px;
  max-width: 100%;
  font-family: "DM Sans3";

}
.my_order .part1 .info_order ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
}
.my_order .part1 .info_order ul li {
}
.my_order .part1 .info_order ul li h6 {
  font-size: 14px;
  line-height: 18px;
  font-family: "DM Sans3";

  color: #868686;
}
.my_order .part1 .info_order ul li p {
  font-size: 16px;
  line-height: 21px;
  font-family: "DM Sans2"
}

.my_order .part1 .product_order {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
.my_order .part1 .product_order img {
}
.my_order .part1 .product_order .product_order_info {
  flex-grow: 1;
}
.my_order .part1 .product_order .product_order_info h3 {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 8px;
  font-family: "DM Sans3";
}
.my_order .part1 .product_order .product_order_info .salary {
  margin-bottom: 4px;
}
.my_order .part1 .product_order .product_order_info h4 {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 12px;
}
.my_order .part1 .product_order .product_order_info h6 {
  font-size: 12px;
  line-height: 16px;
}

 .my_order .part2 {
}
 .my_order .part2 span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin: 28px auto;
}
 .my_order .part2 h3 {
  font-size: 16px;
  line-height: 21px;
  font-family: "DM Sans";
  margin-bottom: 24px;
}
 .my_order .part2 .delivery_info {
}
 .my_order .part2 .delivery_info ul {
  padding: 0;
}
 .my_order .part2 .delivery_info ul li {
  margin-bottom: 16px;
}
 .my_order .part2 .delivery_info ul li h4 {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 8px;
}
 .my_order .part2 .delivery_info ul li p {
  font-size: 14px;
  line-height: 18px;
  color: #5c5959;
}
 .my_order .part2 .payment_info {
}
 .my_order .part2 .payment_info ul {
  padding: 0;
  max-width: 500px;
}
 .my_order .part2 .payment_info ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
 .my_order .part2 .payment_info ul li h5 {
  font-size: 16px;
  line-height: 21px;
}
 .my_order .part2 .payment_info ul li p {
  font-size: 14px;
  line-height: 18px;

  color: #5c5959;
}
@media (max-width: 460px) {
 .my_order {
    padding: 26px 8px;
  }
  .my_order .part1 {
    padding: 40px 12px;
  }
  
  
}
@media (max-width: 500px) {
  
  .my_order .part1 .info_order h5 {
   
    width: 100%;
  
  
  }
  
}
/*=============================registration===================*/
.registration {
  margin: auto;
  max-width: 460px;
  height: 650px;
  padding-top: 74px;
}
.registration input {
  border: none;
  border-bottom: 1px solid #2E1F26;
  margin-top: 30px;
  outline: none;
  padding-bottom: 8px;
}

.registration input[type="submit"]{
padding: 0;
}
.registration input[type="checkbox"]{
  margin: revert;
}
.registration input:focus-visible{
  border-bottom: 2px dotted #2E1F26;

}
.registration input::placeholder{
  font-size: 16px;
line-height: 21px;
color: #484444;
font-family: "DM Sans3";

}
.registration h2{
  text-align: center;
  font-size: 26px;
line-height: 34px;
margin-bottom: 74px;
}
.registration form{
  display: flex;
  flex-direction: column;
}
.registration .form-check{
  padding: 0;
}
.registration .col-md-6 input{
 width: 100%;
}
/*sign_in*/
.sign_in{

}
.sign_in input:first-of-type{
  margin: 0;
}
.sign_in .check{
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}
.sign_in .check label{
  font-size: 14px;
  line-height: 18px;
  padding: 0px 8px;
  font-family: "DM Sans3";

}
.sign_in .check a{
 font-size: 14px;
line-height: 18px;
text-decoration-line: underline;

color: #2E1F26;
}
.sign_in p{
  font-size: 16px;
line-height: 21px;
text-align: center;
margin-top: 24px;
color: #484444;
}
.sign_in p a{
  color: #2E1F26;
  font-family: "DM Sans";
 
}
/*forget*/
.forget{

}
.forget p{
  font-size: 16px;
line-height: 21px;margin-bottom: 62px;
}
.forget .btn_page{
  margin-top: 76px;
  
}
/*sign_up*/
.sign_up{

}
.sign_up .input_number{
  position: relative;
}
.sign_up .input_number h4 {
  position: absolute;
  bottom: 12px;
  left: 0px;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  font-family: "DM Sans3";

}
.sign_up .input_number input{
 padding: 0px 40px 8px;
}
.sign_up .check{
  margin-bottom: 20px;
  margin-top: 30px;

}
.sign_up .check label{
  padding: 0px 8px;
  font-family: "DM Sans3";

}
/*sign_out*/
.sign_out{

}
.sign_out p{
  font-size: 16px;
line-height: 21px;
margin-bottom: 36px;
}
.sign_out h4{
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-family: "DM Sans3";

}
.sign_out h4 button{
  background-color: transparent;
  border: none;
  color: #BEBCD4;
  font-family: "DM Sans";

}
.sign_out h4 button.resend{
  color: #2E1F26;
  text-decoration: underline;
}
.sign_out .counter {
  font-size: 14px;
  line-height: 18px;
  color: #157E0C;
  margin: 40px auto 12px;
}
.sign_out .counter.red {
 
  color: #DA300A;
}
/*================================test ===============*/
.passcode-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.passcode-wrapper input {
  width: 50px;
  height: 50px;
  padding: 0;
  margin-right: 5px;
  border: none;
  text-align: center;
  border-bottom: 1px solid gray;
  
}
.passcode-wrapper input:last-child {
  margin-right: 0;
}
.passcode-wrapper input::-webkit-inner-spin-button, .passcode-wrapper input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.passcode-wrapper input:focus, .passcode-wrapper input.focus {
  border-color: green;
  outline: none;
  box-shadow: none;
}
/*===========================account ======================*/
.account_info{
display: flex;
gap: 20px;
flex-wrap: wrap;
margin-bottom: 100px;
}
.account_info .accordion-button{
  padding: 0;
}
.account_info .part1{
  max-width: 220px;
}
.account_info .part1 .h_account{
  font-size: 20px;
line-height: 26px;
margin-bottom: 24px;
font-family: "DM Sans2";

}
.account_info h3{
  font-size: 20px;
line-height: 26px;
margin-bottom: 20px;
}
.account_info .part1 ul{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
}
.account_info .accordion ul{
  gap: 12px;
  padding: 0px 10px;
}
.account_info .part1 .accordion-collapse.show{
  border-bottom: 1px solid #D9D9D9;
}
.account_info .part1 ul li a ,.account_info .part1 .accordion-button{
  font-size: 16px;
line-height: 21px;
color: #5C5959;
font-family: "DM Sans3";
}
.account_info .part1 ul li a.active  ,.account_info .part1 .accordion-button.active {
  font-size: 14px;
  line-height: 18px;
  
  color: #000000;
font-family: "DM Sans2";
}
.account_info .part2{
  border: 1px solid #D9D9D9;
  padding: 28px;
  flex-grow: 1;
  height: 100%;
}
.account_info input , .account_info .form-select{
  border: none;
  border-bottom: 1px solid #2E1F26;
 border-radius: 0%;
  outline: none;
  padding: 0 0 8px;
  font-family: "DM Sans3";
}
.account_info input[type=radio] {
  border: 1px solid;
}
/*personal_info*/
.personal_info h4{
  font-size: 16px;
line-height: 21px;
margin-bottom: 8px;

}
.personal_info p{
  font-size: 14px;
  line-height: 18px;
  
 margin-bottom: 34px;
  color: #747474;
}
.personal_info form {
  max-width: 420px;
}
.personal_info form  h6{
  font-size: 16px;
line-height: 21px;
font-family: 'DM Sans3';
margin-bottom: 16px;
}
.account_info label{
  font-size: 14px;
line-height: 18px;
font-family: "DM Sans3";

color: #868686;

}
.form-control:disabled{
  background-color: transparent;
}
.true {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
/*wish_list*/
.wish_list{

}
.wish_list .empty_wish{
  margin: 40px auto 0;
  text-align: center;
}
.wish_list .empty_wish img{
  max-width: 58%;
  
}
.wish_list .empty_wish h4{
  font-size: 20px;
  line-height: 26px;
 margin: 18px auto 36px;
}
/*modal*/
.modal-header {
  border: none;
  padding: 2rem 2rem 0rem;
}
.btn-close {

  opacity: 1;
  background-size: 20px;
}
.modal-body{

}
.modal-body h3{
  font-size: 20px;
line-height: 26px;
font-family: "DM Sans";
}
.modal-body .row > * {
 
  margin-top: 34px;
}
.modal.show .modal-dialog {
  margin: 0;
  max-width: 640px;
}
html[dir=rtl] .modal.show .modal-dialog {
  margin-right: auto;
}
html[dir=ltr] .modal.show .modal-dialog {
  margin-left: auto;

}
.modal-body label{
  font-size: 14px;
line-height: 18px;
font-family: DM Sans3;
color: #868686;
}
.modal-body input, .modal-body select {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}
.modal-body input::placeholder{
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.modal-content{
  border-radius: 0px;
}
/*my_order*/
.my_order2{

}
.my_order2 .links_order{
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 34px;
  margin-bottom: 28px;
}
.my_order2 .links_order a{
  font-size: 16px;
  line-height: 21px;
  color: #5C5959;
  font-family: "DM Sans3";
}
.my_order2 .links_order a.active{
  text-decoration-line: underline;
  font-family: "DM Sans2";

color: #2E1F26;
}
.my_order2 .my_order .part1 {
 max-width: 100%;
}
.my_order2 .my_order {
  border:  none;
  padding: 0 ;
}
.my_order2 .my_order .part1 .info_order ul {
 flex-direction: row;
}
.my_order2 .my_order .end_order{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my_order2 .my_order .end_order a{
  display: flex;
  align-items: center;
  gap: 18px;
}
.my_order2 .my_order .end_order a p{
  font-size: 12px;
line-height: 16px;
color: #2E1F26;
font-family: "DM Sans2"
}
.my_order2 .my_order .being_Prepared {
  flex-grow: 1;
}
.my_order2 .my_order .being_Prepared p{
  font-size: 12px;
line-height: 16px;
margin-bottom: 14px;
font-family: "DM Sans2";

}
.my_order2 .my_order .being_Prepared .par{
  width: 266px;
height: 15px;
max-width: 100%;

background: #FFFFFF;
}
.my_order2 .my_order .being_Prepared .par span{
  display: block;
  height: 100%;
  background: #2E1F26;
}
.my_order2 .my_order .part2 {
  border: none;
}
.my_order2 .shipment {

}
.my_order2 .shipment h6 {
  font-size: 12px;
line-height: 16px;
margin-bottom: 8px;
}
 .my_order2 .shipment .parts{
display: flex;
align-items: center;

gap: 1px;

 }
 .my_order2 .shipment .part{
padding: 8px ;
display: flex;
align-items: center;
justify-content: center;
gap: 6px;
border: 1px solid #2E1F26;
 }
 .my_order2 .shipment .part.done{
background-color: white;
 }
 .my_order2 .shipment .part.not_done{
  background: #2E1F26;
 }
 .my_order2 .shipment .part.next{
  opacity: 0.5;
 }
 .my_order2 .shipment .part p{
  font-size: 12px;
line-height: 16px;
 }
 .my_order2 .shipment .part.not_done p{
  color: white;
 }
 .my_order2 .shipment span{
  min-width: 30px;
  max-width: 100%;
  height: 1px;
  
  display: block;
  background-color:#000000 ;
 }



@media(max-width:992px){
  .my_order2 .my_order .being_Prepared .par{
    width: 100%;

  }
  
  
}
@media(max-width:768px){
 
  .my_order2 .shipment .parts {
  
    gap: 3px;
    flex-direction: column;
  
}
.my_order2 .shipment span{
  min-width: 1px;
  max-height: 100%;
  height: 30px;
 }

}
@media(max-width:400px){
  
  .account_info .part2 {
   
    padding: 10px;
  
}
  
}